@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* mono font */

@font-face {
	font-family: 'arial';
	src: url('../../public/fonts/arial/PixelArialRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'pix Chicago';
	src: url('../../public/fonts/chicago/PixelChicagoRegular.ttf')
		format('truetype');
}
