@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* mono font */

@font-face {
	font-family: 'arialRegular';
	src: url('../../public/fonts/arial/arialRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'chicagoRegular';
	src: url('../../public/fonts/chicago/pixChicago.ttf') format('truetype');
}
